.card-container {
  list-style-type: armenian;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 1px;
}

.card {
  height: 120px;
  width: 200px;
  margin-right: 20px;
  background-color: #f8fafc;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif';
  cursor: pointer;
}

.slide-heading {
  font-size: 18px;
  color: #0967d2;
  margin-bottom: 1px;
}

.slide-para {
  font-size: 15px;
  color: #334155;
  margin-top: 1px;
}
