.bg-container {
  height: 100vh;
  background-size: cover;
  background-color: #ffffff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 90%;
}

.left-container {
  width: 25%;
  height: 100%;
}

.btn-container {
  padding: 13px;
  background-color: #ffffff;
  width: 100%;
}

.btn-design {
  color: #334155;
  font-family: 'Bree Serif';
  font-size: 18px;
  background-color: #dbeafe;
  border-width: 0;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.btn-image {
  height: 13px;
  margin-right: 4px;
}
.slide-container {
  display: flex;
  flex-direction: column;
  list-style-type: numbers;
  background-color: #ffffff;
  overflow-y: auto;
  height: 90%;
}
